<!DOCTYPE html>
<html lang="en">

<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>
        var dataLayer = {
            pageName : "Home",
            productName: "Scott Formal Shoe",
            productPrice: 799,
            cartTotal : 0
        }
    </script>
    <script src="https://assets.adobedtm.com/43e08a8c9425/4aea62a50915/launch-2f7d82df0bd7-development.min.js" async></script>
    <title>Shoe Paradise</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    {{{body}}}
</body>

</html>