<header>
    <div class="container">
        <nav>
            <h1><a href="/">SHOE PARADISE</a></h1>
            <div class="menu-section">
                <div><a href="/add">Add Shoe</a></div>
                <div class="cart-icon-section">
                    <div class="cart-icon">
                        <img src="/images/icons/shopping-bag-icon.png" alt="">
                    </div>
                    <div class="cart-icon-badge">0</div>
                </div>
            </div>
        </nav>
    </div>
</header>
<div class="container form-center">
    <div class="form-container">

        <form>
            <div>
                <label for="">Name</label>
            </div>
            <input type="text" name="" id="name-input">
            <div>
                <label for="">Brand</label>
            </div>
            <input type="text" name="" id="brand-input">
            <div>
                <label for="">Colour</label>
            </div>
            <input type="text" name="" id="colour-input">
            <div>
                <label for="">Size</label>
            </div>
            <input type="text" name="" id="size-input">
            <div>
                <label for="">Price</label>
            </div>
            <input type="text" name="" id="price-input">
            <div>
                <label for="">In Stock</label>
            </div>
            <input type="text" name="" id="stock-input">
            <div>
                <label for="">Image Link</label>
            </div>
            <input type="text" name="" id="image-input">
            <button type="submit" id="add-shoe-btn">Add Shoe</button>
        </form>
    </div>
    <div class="add-success-message hide-element">
        <div class="success-message">
            <div>
                Your shoe has been successfully added
            </div>
            <div>
                <a href="/">Return to Home</a>
            </div>
        </div>
    </div>
</div>
<script src="/js/addShoe.js"></script>