<header>
    <div class="container">
        <nav>
            <h1><a href="/">SHOE PARADISE</a></h1>
            <div class="menu-section">
                <div><a href="/add">Add Shoe</a></div>
                <div class="cart-icon-section">
                    <div class="cart-icon">
                        <img src="/images/icons/shopping-bag-icon.png" alt="">
                    </div>
                    <div class="cart-icon-badge">0</div>
                </div>
            </div>
        </nav>
    </div>
</header>
<div class="container">
    <h2 id="shopping-cart-heading">Shopping Cart</h2>
    <div class="cart-items-container">
        <div class="cart-items">
            <div class="cart-item">
                <div class="cart-item-image">
                    <img src="/images/shoes/albeck.png" alt="">
                </div>
                <div class="cart-item-info">
                    <p>Albeck</p>
                    <p>ALDO</p>
                </div>
                <div class="cart-item-quantity">
                    <p>Quantity</p>
                    <div class="quantity-select">
                        <div id="decrease-qty">&ndash;</div>
                        <div>1</div>
                        <div id="increase-qty">+</div>
                    </div>
                </div>
                <div class="cart-item-price">

                    <p>R1199</p>
                </div>
            </div>
            <div class="cart-item">

            </div>
        </div>
        <div class="cart-summary">
            <div id="summary-heading">Cart Summary</div>
            <hr>
            <div class="items-summary">
                <div>Items</div>
                <div>3</div>
            </div>
            <hr>
            <div class="total-summary">
                <div>Total</div>
                <div>R2000</div>
            </div>

            <div class="checkout-summary">
                <div id="checkout-btn">
                    <div>Checkout</div>
                    <div>
                        <img src="/images/icons/checkout-icon.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/cart.js"></script>