<header>
    <div class="container">
        <nav>
            <h1 class="home-btn">SHOE PARADISE</h1>
        </nav>
    </div>
</header>
<div class="container">
    <div class="cart-menu">
        <h2 id="shopping-cart-heading">Shopping Cart</h2>
        <div class="back-container">
            <a href="/user">
                <img src="/images/icons/back.png" alt="">
                <div id="back-button">Back to Home</div>
            </a>
        </div>
    </div>
    <div class="checkout-success-container">
        <div>Your order was successfully placed and is being processed</div>
        <div>Thank you for your purchase and for shopping with us!</div>
        <div>Your order history can be viewed <a href="/user/orders">here</a></div>
        <div>
            <img src="/images/icons/checkout-success.jpg" alt="">
        </div>

    </div>
</div>
<script src="/js/checkoutSuccess.js"></script>
<script src="/js/userPageRedirect.js"></script>