<header>
    <div class="container">
        <nav>
            <h1><a href="/">SHOE PARADISE</a></h1>
            <div class="menu-section">
                <div><a href="/add">Add Shoe</a></div>
                <div class="cart-icon-section">
                    <a href="/cart">
                        <div class="cart-icon">
                            <img src="/images/icons/shopping-bag-icon.png" alt="">
                        </div>
                        <div class="cart-icon-badge">0</div>
                    </a>
                </div>
            </div>
        </nav>
    </div>
</header>
<div class="container login-form-center">
    <div class="login-form-container">
        <div id="login-heading">
        <h1>Login</h1>
        </div>
        <form>
            <div>
                <label for="">Email</label>
            </div>
            <input type="text" name="" id="name-input">
            <div>
                <label for="">Password</label>
            </div>
            <input type="text" name="" id="brand-input">
           
            <button type="submit" id="login-btn">Login</button>
        </form>
    </div>