<header>
    <div class="container">
        <nav>
            <h1 class="home-btn">SHOE PARADISE</h1>
        </nav>
    </div>
</header>
<div class="container">
    <div class="signup-success-container">
        <div>You have successfully signed up!</div>
        <div>Please click&nbsp;<a href="/">here</a>&nbsp;to go back to the homepage and login</div>
        <div>
            <img src="/images/icons/signup-success.jpg" alt="">
        </div>
    </div>
</div>
<script src="/js/userPageRedirect.js"></script>