<header>
    <div class="container">
        <nav>
            <h1 class="home-btn">SHOE PARADISE</h1>
            <div class="menu-section">
                <div class="user-dropdown">
                    <div id="user-menu"><span></span> <i class="fa fa-caret-down"></i></div>
                    <div class="dropdown-content">
                        <a href="/user/account">Account</a>
                        <a href="/user/orders">Orders</a>
                        <a href="/user/wishlist">Wishlist</a>
                    </div>
                </div>
                <div id="logout-btn">Logout</div>
                <div class="add-shoe"><a href="/add">Add Shoe</a></div>
                <div class="cart-icon-section">
                    <a href="/cart">
                        <div class="cart-icon">
                            <img src="/images/icons/shopping-bag-icon.png" alt="">
                        </div>
                        <div class="cart-icon-badge">0</div>
                    </a>
                </div>
            </div>
        </nav>
    </div>
</header>
<div class="container">
    <main class="full-bleed">
        <div id="slideshow-example" data-component="slideshow">
            <div role="list">
                <div class="slide">
                    <img src="/images/slideshow/1.jpg" alt="">
                </div>
                <div class="slide">
                    <img src="/images/slideshow/2.jpg" alt="">
                </div>
                <div class="slide">
                    <img src="/images/slideshow/3.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="overlay">
        </div>

        <div class="overlay-text">
            <h1>Elevate Your Style with Elegance</h1>
            <p>Explore our collection and discover the ideal smart/formal shoes that match your ambition and
                elevate your style.</p>
            <button id="shop-now-btn">SHOP NOW</button>
        </div>


    </main>
    <div class="full-bleed" id="available-shoes-section">
        <h2>AVAILABLE SHOES</h2>
        <div class="filterSection">
            <div>Filter Results</div>
            <div>
                <label for="">Brand:</label>
                <select name="" id="brandSelect">
                    <option value="default">Select Brand</option>
                    <option value="GINO-PAOLI">GINO PAOLI</option>
                    <option value="MAZERATA">MAZERATA</option>
                    <option value="ALDO">ALDO</option>
                    <option value="CALL-IT-SPRING">CALL IT SPRING</option>
                    <option value="STEVE-MADDEN">STEVE MADDEN</option>
                    <option value="POLO">POLO</option>
                </select>
            </div>
            <div>
                <label for="">Colour:</label>
                <select name="" id="colourSelect">
                    <option value="default">Select Colour</option>
                    <option value="Grey">Grey</option>
                    <option value="Tan">Tan</option>
                    <option value="Brown">Brown</option>
                    <option value="Burgundy">Burgundy</option>
                    <option value="Black">Black</option>
                    <option value="Dark-Brown">Dark Brown</option>
                </select>
            </div>
            <div>
                <label for="">Size:</label>
                <select name="" id="sizeSelect">
                    <option value="default">Select Size</option>
                    <option value="10">10</option>
                    <option value="9">9</option>
                    <option value="8">8</option>
                    <option value="7">7</option>
                    <option value="6">6</option>
                </select>
            </div>
            <div id="showAllBtn">Show All</div>
        </div>
    </div>
    <section class="full-bleed">
    </section>
</div>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
<script src="/js/shoe-catalogue-factory.js"></script>
<script src="/js/main.js"></script>
<script src="/js/user.js"></script>
<script src="/js/userPageRedirect.js"></script>