@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@400&display=swap');

@font-face {
    font-family: "Bodoni";
    src: url(fonts/BodoniflfRoman-vmAD.ttf)
}

@font-face {
    font-family: "AudreyNormal";
    src: url(fonts/Audrey-Normal.otf)
}

@font-face {
    font-family: "Medio";
    src: url(fonts/medio.otf)
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
}

h1 {
    font-family: "AudreyNormal";
}

h2 {
    font-family: "AudreyNormal";
}


.container {
    width: 90%;
    margin: 0 auto;
}

.shoeContainer {
    margin-bottom: 20px;
    font-family: 'Oxygen', sans-serif;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 10px;
    width: 241px;
}

.shoeImage {
    width: 250px;
}

section {
    display: flex;
    flex-wrap: wrap;
    /* background-color: #e0e4ec; */
    justify-content: space-between;
    min-height: 472px;
}

section::after {
    content: "";
    flex: auto;
    flex: 0 0 49%;
    max-width: 896px;
}

.full-bleed {
    box-shadow: 0 0 0 100vmax #F5F5F5;
    clip-path: inset(0 -100vmax);
}

button.addToCartBtn {
    padding: 8px 74px 8px;
    background-color: #e0e4ec;
    color: #2C3539;
    border: 1px solid #2C3539 !important;
    border: none;
    position: relative;
    cursor: pointer;
}

.addToCartBtn:hover {
    background-color: #2C3539;
    color: white;
}

.addToCartBtn:active {
    transform: translateY(2px);
}

.centeredBtnContainer {
    text-align: center;
}

.shoeContainer p {
    margin-top: 10px;
    margin-bottom: 4px;
}

.slide {
    height: 82vh;
}

.slide img {
    width: 100%;
    height: 100%;
}

[data-component="slideshow"] .slide {
    display: none;
}

[data-component="slideshow"] .slide.active {
    display: block;
}

h2 {
    /* background-color: #e0e4ec; */
    margin: 0;
    padding: 20px 0;
}

.filterSection {
    display: flex;
    /* justify-content: space-around; */
    padding: 20px;
    font-family: 'Oxygen', sans-serif;
}

.filterSection div,
.filterSection select {
    font-size: 20px;
}

select {
    outline: none;
    padding: 2px;
    border-radius: 0;
}

.centerFilterMsg {
    justify-content: center;
}

.filterMsg {
    font-size: 24px;
    font-family: 'Oxygen', sans-serif;
}

#showAllBtn {
    background-color: #418dff;
    padding: 2px 8px;
    font-size: 20px;
    cursor: default;
    user-select: none;
}

#showAllBtn:active {
    transform: translateY(2px);
}

.sizeAndColourContainer {
    display: flex;
}

.shoeSize {
    margin-right: 20px;
}

.shoeSize, .shoeColour {
    margin-top: 0;
    margin-bottom: 0;
}

p.shoeStock {
    margin-bottom: 8px;
}

.colouredItems {
    color: #8d8989;
}

.shoeContainer > p:first-of-type, .shoePrice {
    font-weight: bold;
}

#shop-now-btn {
    cursor: pointer;
}

@media (max-width: 600px) {
    .shoeContainer {
        width: 37%;
    }

    .shoeContainer img {
        width: 100%;
    }

    button.addToCartBtn {
        padding-left: 12px;
        padding-right: 12px;
    }

    .container {
        width: 96%;
    }

    .filterSection {
        display: block;
        padding: 0;
    }

    .filterSection div {
        margin-bottom: 10px;
    }

    #showAllBtn {
        width: 76px;
        margin-bottom: 20px;
    }

    .slide {
        height: 42vh;
    }

    .slide img {
        height: 100%;
    }
}

.filterSection {
    background-color: #2C3539;
    color: white;
    margin-bottom: 20px;
}

.filterSection div {
    margin-right: 1em;
}

.filterSection div:first-child {
    border-bottom: 3px solid white;
    margin-right: 1.8em;
}

.full-bleed h2 {
    background-color: #F5F5F5;
}

.filterSection {
    margin-bottom: 0;
}

section {
    padding-top: 20px;
    background-color: #F5F5F5;
}

body {
    background-color: #F5F5F5;
}

.overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 5%;
    right: 5%;
    bottom: 0;
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

.overlay-text p {
    font-family: "Medio";
    font-size: 24px;
}

.overlay-text h1 {
    font-family: "Medio";
    font-size: 45px;
}

.overlay-text button {
    font-family: 'Oxygen', sans-serif;
    font-size: 24px;
    font-weight: normal;
    background-color: rgba(0, 0, 0, 0.8);
    border: 1px solid white;
    color: white;
    padding: 4px 14px;
}

.overlay-text button:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

.overlay-text button:active {
    transform: translateY(2px);
}

.overlay-text a {
    color: white;
    text-decoration: none;
}

.overlay-text a:visited {
    color: white;
}

.cart-icon img {
    width: 40px;
    height: 30px;
}

.cart-icon-badge {
    background-color: black;
    border-radius: 50%;
    color: white;
    padding: 2px 8px;
    position: absolute;
    right: 76px;
    top: 12px;
    font-size: 12px;
    font-family: 'Oxygen', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
}

.menu-section {
    display: flex;
    align-items: center;
    font-family: 'Oxygen', sans-serif;
    font-size: 18px;
    cursor: pointer;
    color: #404040;
}

.menu-section a {
    color: #404040;
    text-decoration: none;
}

#user-menu:hover,
#login-btn:hover,
#signup-btn:hover, #logout-btn:hover, .dropdown-content a:hover, .add-shoe a:hover {
    color: #418dff;
}

.cart-icon-section {
    margin-left: 16px;
}

.form-container {
    margin-top: 60px;
    background-color: #DFDFDF;
    width: 470px;
    padding: 40px;
    font-family: 'Oxygen', sans-serif;
    font-size: 18px;
    height: 640px;
}

.form-center {
    display: flex;
    justify-content: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.3)), url(./images/add-shoe-bg.jpeg);
    background-size: cover;
    height: 100%;
}

.form-container input {
    width: 94%;
    padding: 10px;
    outline: none;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    border: none;
    color: #696969;
}

.form-container input:focus {
    border: 3px solid #A4A4A4;
}

nav h1 a {
    color: black;
    text-decoration: none;
}

.form-container button {
    width: 98%;
    font-size: 18px;
    border: 1px solid #696969;
    padding: 10px;
    margin-top: 10px;
    background-color: #CDCDCD;
}

.form-container button:hover {
    background-color: #A4A4A4;
    cursor: pointer;
}

.hide-element {
    display: none !important;
}

.success-message {
    background-color: #DFDFDF;
    font-family: 'Oxygen', sans-serif;
    font-size: 24px;
    padding: 40px;
    text-align: center;
}

.add-success-message {
    display: flex;
    align-items: center;
}

.success-message a {
    color: #418dff;
    text-decoration: none;
}

.success-message a:hover {
    text-decoration: underline;
}

#shopping-cart-heading {
    font-family: 'Oxygen', sans-serif;
    font-weight: normal;
}

.cart-item {
    width: 800px;
    height: 140px;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    font-weight: normal;
}

.cart-items-container {
    display: flex;
    font-family: 'Oxygen', sans-serif;
}

.cart-items {
    margin-right: 20px;
}

.cart-item img {
    width: 180px;
    height: 140px;
}

.cart-item-image {
    flex: 1;
}

.cart-item-info {
    padding-left: 16px;
    flex: 2;
}

.cart-item-info p:nth-child(1) {
    color: #333535;
}

.cart-item-info p:nth-child(2) {
    color: #8d8989;
}

.cart-item-price {
    font-weight: bold;
    font-size: 26px;
    flex: 2;
    text-align: right;
    padding-right: 20px;
}

.quantity-select {
    display: flex;
}

.cart-item-quantity div {
    margin-right: 20px;
}

.quantity-select div:nth-child(2) {
    border: 1px solid grey;
    padding: 6px 16px;
}

.quantity-select div:nth-child(1),
.quantity-select div:nth-child(3) {
    font-weight: bold;
    font-size: 30px;
    cursor: pointer;
    user-select: none;
}

.cart-item-quantity p {
    margin: 15%;
}

.cart-summary {
    width: 300px;
    padding: 20px;
    background-color: #dde2e6;
    height: 200px;
}

#summary-heading {
    font-size: 24px;
}

.items-summary {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 14px;
    margin-bottom: 14px;
}

.total-summary {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 18px;
    color: #4d4d4f;
    margin-top: 20px;
    margin-bottom: 10px;
}

#checkout-btn {
    background-color: #418dff;
    width: 100px;
    padding: 6px 10px;
    display: flex;
    cursor: pointer;
}

#checkout-btn div:first-child {
    margin-right: 10px;
}

.checkout-summary img {
    width: 22px;
    height: 20px;
}

.checkout-summary {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

#clear-btn {
    margin-right: 18px;
    background-color: #DA2C43;
    padding: 6px 10px;
    cursor: pointer;
}

#login-btn,
#signup-btn, #logout-btn, #user-menu {
    margin-right: 14px;
}

.shoeLoaderContainer {
    margin-bottom: 20px;
    background-color: darkgrey;
    padding: 10px;
    width: 241px;
    height: 412px;
    animation: skeleton-loading 1s infinite alternate;
}

.login-form-container h1 {
    font-family: 'Oxygen', sans-serif;
    margin-top: 0;
}

.signup-form-container h1 {
    font-family: 'Oxygen', sans-serif;
    margin-top: 0;
    margin-bottom: 0;
}

.login-form-container {
    margin-top: 60px;
    background-color: #DFDFDF;
    width: 470px;
    padding: 30px;
    font-family: 'Oxygen', sans-serif;
    font-size: 16px;
    height: 340px;
    margin-bottom: 60px;
}

.login-form-container input {
    width: 94%;
    padding: 10px;
    outline: none;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    border: none;
    color: #696969;
}

.login-form-container input:focus {
    border: 3px solid #A4A4A4;
}

.login-form-container button {
    width: 98%;
    font-size: 18px;
    border: 1px solid #696969;
    padding: 10px;
    margin-top: 10px;
    background-color: #CDCDCD;
}

.login-form-container button:hover {
    background-color: #A4A4A4;
    cursor: pointer;
}

#login-heading {
    text-align: center;
}

.login-form-center {
    display: flex;
    justify-content: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.3));
    background-size: cover;
    height: 100%;
}

.signup-form-container {
    margin-top: 0;
    background-color: #DFDFDF;
    width: 470px;
    padding: 30px;
    padding-left: 40px;
    font-family: 'Oxygen', sans-serif;
    font-size: 14px;
    height: 600px;
    padding-bottom: 0;
}

.signup-form-container input {
    width: 94%;
    padding: 6px;
    outline: none;
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 14px;
    border: none;
    color: #696969;
}

.signup-form-container input:focus {
    border: 3px solid #A4A4A4;
}

.signup-form-container button {
    width: 98%;
    font-size: 18px;
    border: 1px solid #696969;
    padding: 10px;
    margin-top: 10px;
    background-color: #CDCDCD;
}

.signup-form-container button:hover {
    background-color: #A4A4A4;
    cursor: pointer;
}

#signup-heading {
    text-align: center;
}

.signup-form-center {
    display: flex;
    justify-content: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.3));
    background-size: cover;
    height: 100%;
}

.hidden {
    display: none;
}

.login-form-container {
    position: fixed;
    transform: translate(-50%, -65%);
    top: 50%;
    left: 50%;
    z-index: 2;
}

.signup-form-container {
    position: fixed;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    z-index: 2;
}

#close-login-form,
#close-signup-form {
    margin: 0;
    padding: 0;
    font-weight: bold;
    text-align: right;
    cursor: pointer;
    font-size: 18px
}

.modal-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(3px);
    z-index: 1;
}

#brandSelect,
#colourSelect,
#sizeSelect {
    border: none;
}

.dropdown-content a {
    display: block;
    padding: 12px 12px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    z-index: 3;
}

.user-dropdown:hover .dropdown-content {
    display: block;
}

#error-msg {
    padding-top: 10px;
    text-align: center;
    color: #EE5253;
}

.cart-size-colour-item {
    display: flex;
}

.cart-size-colour-item p:first-of-type {
    color: #8d8989;
}

.cart-size-colour-item p:first-of-type {
    margin-right: 10px;
}

.cart-size-colour-item span {
    color: #333535;
}

.cart-item-info p {
    margin-top: 6px;
    margin-bottom: 6px;
}

.cart-item-info > p:first-of-type {
    margin-top: 24px;
}

#removeFromCartBtn {
    font-size: 16px;
    font-weight: normal;
    width: fit-content;
    margin-top: 0;
    margin-left: 36px;
    padding: 6px 8px;
    background-color: #eb8b98;
    cursor: pointer;
}

#removeFromCartBtn:hover {
    background-color: #e6707f;
}

.cart-item-price p {
    margin-bottom: 12px;
}

@keyframes skeleton-loading {
    0% {
        background-color: darkgrey;
    }

    100% {
        background-color: #F1F1F1;
    }
}


@media (max-width: 1366px) and (max-height: 1208px) {
    .form-container {
        margin-top: 20px;
        margin-bottom: 20px;
        zoom: 80%;
    }

    .cart-icon {
        margin-right: 28px;
    }
}