@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@400&display=swap');

@font-face {
    font-family: "Bodoni";
    src: url(fonts/BodoniflfRoman-vmAD.ttf)
}
@font-face {
    font-family: "AudreyNormal";
    src: url(fonts/Audrey-Normal.otf)
}

@font-face {
    font-family: "Medio";
    src: url(fonts/medio.otf)
}

body {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: "AudreyNormal";
}

h2 {
    font-family: "AudreyNormal";
}


.container {
    width: 90%;
    margin: 0 auto;
}

.shoeContainer {
    margin-right: 18px;
    margin-bottom: 20px;
    font-family: 'Oxygen', sans-serif;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 10px;
    width: 241px;
}

.shoeImage {
    width: 250px;
}

section {
    display: flex;
    flex-wrap: wrap;
    /* background-color: #e0e4ec; */
    /* justify-content: space-between; */
}

.full-bleed {
    box-shadow: 0 0 0 100vmax #F5F5F5;
    clip-path: inset(0 -100vmax);
}

button.addToCartBtn {
    padding: 8px 74px 8px;
    background-color: #e0e4ec;
    color: #2C3539;
    border: 1px solid #2C3539 !important;
    border: none;
    position: relative;
    cursor: pointer;
}

.addToCartBtn:hover {
    background-color: #2C3539;
    color: white;
}

.addToCartBtn:active {
    transform: translateY(2px);
}

.centeredBtnContainer {
    text-align: center;
}

.shoeContainer p {
    margin-top: 12px;
    margin-bottom: 12px;
}

.slide {
    height: 82vh;
}

.slide img {
    width: 100%;
    height: 100%;
}

[data-component="slideshow"] .slide {
    display: none;
}

[data-component="slideshow"] .slide.active {
    display: block;
}

h2 {
    /* background-color: #e0e4ec; */
    margin: 0;
    padding: 20px 0;
}

body {
    /* background-color: #e0e4ec; */
    height: 200vh;
}

.filterSection {
    display: flex;
    /* justify-content: space-around; */
    padding: 20px;
    font-family: 'Oxygen', sans-serif;
}

.filterSection div,
.filterSection select {
    font-size: 20px;
}

select {
    outline: none;
    padding: 2px;
    border-radius: 0;
}

.centerFilterMsg {
    justify-content: center;
}

.filterMsg {
    font-size: 24px;
    font-family: 'Oxygen', sans-serif;
}

#showAllBtn {
    background-color: #418dff;
    padding: 2px 8px;
    font-size: 20px;
    cursor: default;
    user-select: none;
}

#showAllBtn:active {
    transform: translateY(2px);
}

@media (max-width: 600px) {
    .shoeContainer {
        width: 37%;
    }

    .shoeContainer img {
        width: 100%;
    }

    button.addToCartBtn {
        padding-left: 12px;
        padding-right: 12px;
    }

    .container {
        width: 96%;
    }

    .filterSection {
        display: block;
        padding: 0;
    }

    .filterSection div {
        margin-bottom: 10px;
    }

    #showAllBtn {
        width: 76px;
        margin-bottom: 20px;
    }

    .slide {
        height: 42vh;
    }

    .slide img {
        height: 100%;
    }
}

.filterSection {
    background-color: #2C3539;
    color: white;
    margin-bottom: 20px;
}

.filterSection div {
    margin-right: 1em;
}

.filterSection div:first-child {
    border-bottom: 3px solid white;
    margin-right: 1.8em;
}

.full-bleed h2 {
    background-color: #F5F5F5;
}

.filterSection {
    margin-bottom: 0;
}

section {
    padding-top: 20px;
    background-color: #F5F5F5;
}

body {
    background-color: #F5F5F5;
}

.overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 5%;
    right: 5%;
    bottom: 0;
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

.overlay-text p {
    font-family: "Medio";
    font-size: 24px;
}

.overlay-text h1 {
    font-family: "Medio";
    font-size: 45px;
}

.overlay-text button {
    font-family: 'Oxygen', sans-serif;
    font-size: 24px;
    font-weight: normal;
    background-color: rgba(0, 0, 0, 0.8);
    border: 1px solid white;
    color: white;
    padding: 4px 14px;
}

.overlay-text button:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

.overlay-text button:active {
    transform: translateY(2px);
}

.overlay-text a {
    color: white;
    text-decoration: none;
}

.overlay-text a:visited {
    color: white;
}

.cart-icon {
    position: relative;
    cursor: pointer;
}

.cart-icon img {
    position: absolute;
    width: 40px;
    height: 30px;
    top: 16px;
    right: 20px;
}

.cart-icon-badge {
    background-color: black;
    border-radius: 50%;
    color: white;
    padding: 2px 8px;
    position: absolute;
    right: 70px;
    top: 12px;
    font-size: 12px;
    font-family: 'Oxygen', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
}